<datasource-http-settings current="ctrl.current">
</datasource-http-settings>

<h4>InfluxDB Details</h4>

<div class="tight-form">
	<ul class="tight-form-list">
		<li class="tight-form-item" style="width: 80px">
			Database
		</li>
		<li>
			<input type="text" class="tight-form-input input-large" ng-model='ctrl.current.jsonData.database' placeholder="" required/>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="tight-form last">
	<ul class="tight-form-list">
		<li class="tight-form-item" style="width: 80px">
			User
		</li>
		<li>
			<input type="text" class="tight-form-input input-large" ng-model='ctrl.current.jsonData.username' placeholder="" required/>
		</li>
		<li class="tight-form-item">
			Password
		</li>
		<li>
			<input type="password" class="tight-form-input input-large" ng-model='ctrl.current.jsonData.password' placeholder="" required/>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
